section {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.btn {
  width: fit-content;
}

.table {
  width: auto;
  display: grid;
  justify-content: center;
}

.table > thead {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  padding-left: 20px;
}

body {
  background-image: url("https://i.imgur.com/JP2tHUz.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
